.header {
    padding: 30px; 
    text-align: center; 
    background-color: green;
    color: white;
  }
  
 .introduccion{
    background-color: rgb(160, 55, 55);
 }
 .lista-guide{
    background-color: rgb(160,55,55);
 }
 .referenceToNav{
    background-image:url(/img/estrellas.jfif);
    color: white;
 }
 .header h1 {
    font-size: 50px;
  }
  .header h5 {
    font-size: 50px;
  }
h5{
    color: white;

}

.navbar {
    overflow: hidden; 
    background-color: #333; 
  }

h1{
    color:white;
}
 h2{
    font-size:25px;
 }
 h3{
    font-size: 25px;
 }
 h4{
    font-size: 25px;
 }
  .navbar a {
    float: left; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
  }
  
  
  .navbar a.right {
    float: right; 
  }
  
  
  .navbar a:hover {
    background-color: #ddd; 
    color: black; 
  }
  .introduccion p{
    color:black;
    font-size: large;
    padding: 20px;
    text-align: justify;
  }
  .doctors-episodes{
    background-image: url(/img/fondoluminoso.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }
   
.present-episodes{
    color:rgb(0, 0, 0);
    font-size: large;
    padding: 10px;
    text-align: left;
}

  .doctors-episodes{
    color:rgb(224, 210, 210);
    font-size: large;
    padding: 20px;
    text-align: justify;
  }
  .p-1-guide{
    color:black;
    font-size: large;
    padding: 20px;
    text-align: justify;
  }
  .p-2-guide{
    color:black;
    font-size: large;
    padding: 20px;
    text-align: justify;
  }
  .p-3-guide{
    color:black;
    font-size: large;
    padding: 30px;
    text-align: justify;
  }
.img-column-1-body{
    height: auto;
    width: 290px;
}
.img-column-1-text{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
    text-overflow: ellipsis;

}
.img-column-2-text{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
    text-overflow: ellipsis;
}
.img-column-3-text{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
    text-overflow: ellipsis;
}
.origin-column-text{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
    text-overflow: ellipsis;
}
.index_principal{
    height: 300px;
    width: 290px;
}

.index_doctors{
    height: 310px;
    width: 300px;
}
.index_episodes{
    height: auto;
    width: auto;
}
.column-3{
    width: 300px;
    height: 300px;
    margin: 60px;
    float:left;

}
.column-2{
    width: 300px;
    height: 300px;
    margin: 60px;
    float:left;

}
.column-1{
      width: 300px;
    height: 300px;
    margin: 60px;
    float:left;

}
.old-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.Origin-text{
    border: 5px solid #FFFF00;
text-align: center;
background-color: grey;
}
.lista-episodios{
    color:black;
    font-size: large;
    padding: 30px;
    text-align: justify;
    background-color: rgb(160, 55, 55);
}
.meet-the-doctors{
    border: 1px solid;
    text-align: left;
    background-color: grey;
}